@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');

*{
    margin: 0;
    padding: 0;
    font-family: "Outfit", sans-serif;
    box-sizing: border-box;
    scroll-behavior: smooth;

}
body{
    background-color: rgb(50, 49, 49);
}


.header{
    display: flex;
    gap: 30rem;
    /* margin: 40px; */
    background-color: #04AA6D;
    
    padding: 6px;
    width: 100%;
    margin-bottom: 100px;
    position: sticky;
    top: 0;
    
    
}
.header h2{
    margin-left: 80px;
    color: white;
    margin-top: 2px;
}
nav{
   
}
nav ul {
   display: flex;
   gap: 5rem;
   text-decoration: none;
}
nav ul a{
    text-decoration: none;
    border: 10px solid transparent;
    border-radius: 5px;
    color: white;
    
margin-left: 50px;
    font-weight: bolder;

}

nav ul a:hover{
    border-radius: 5px;
    background-color: yellow;
    transition: 0.5s;
    color: black;
    font-weight: bolder;
}
.myphoto{
    width: 40%;
    margin-left: 200px;
}
.myphoto img{
    width: 300px;
    border-radius: 25px;
    border: 3px solid transparent;
    margin-left: 190px;
}
.myphoto img:hover{
   
    transition: 0.3s;
    box-shadow:0 0 20px 0px rgba(240, 235, 127, 0.571);

}
.about{
    
    margin-bottom: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0px;
    /* height: 90vh; */
    
}
.text{
    width: 50%;
    color: ghostwhite;

}
.text h2{
    font-size: 60px;
    color: rgb(180, 241, 82);
}
.text h3{
    margin-top: 20px;
    line-height: 1.4;
    /* color: rgb(234, 43, 43); */
    color: aqua;

}
.logos{
    display: flex;
    gap: 30px;
    margin-top: 35px;
}
.logos img{
    width: 60px;
    border-radius: 50%;
    border: 3px solid transparent;
    
}

.logos img:hover{
    border: 3px solid rgb(243, 243, 119);
    box-shadow:0 0 20px 0px rgba(245, 245, 75, 0.571);
    transition: 0.4s;
}

.download{
    margin-top: 40px;
   

}
.download button{
    padding: 15px;
    font-size: 18px;
    background-color:rgb(87, 84, 80);
    color: white;
    border: 1px solid bisque;
    border-radius: 15px;
}
.download button:hover{
    background-color: rgb(237, 237, 156);
    color: black;
    transition: 0.5s;
    cursor: pointer;
}

.me {
    text-align: center;
    margin-top: 60px;
    color: white;
}
.me h1{
    font-size: 50px;
    color: crimson;   
}
.me h3{
    line-height: 2;

}
.me h2{
    color: rgb(180, 241, 82);
    margin-top: 60px;
}
.me img{
    width: 60px;
}
.me .logos{
    margin-top: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}

hr{
    margin-top: 80px;
}

.portfolio{
    color: white;
    margin-top: 50px;
}
.portfolio h1{
    text-align: center;
    color: aqua;

}

.all-projects{
    display: flex;
    justify-content: space-around;
    margin: 50px;
}

.projects{
    width: 25%;
    border: 0px solid yellow;
    text-align: center;
    border-radius: 10px;
    padding: 25px;
    background-color: rgb(94, 94, 84);
}
.projects h2{
    color: wheat;
    font-size: 30px;

}
.projects p{
    margin-top: 15px;
    font-size: 20px;
}

.projects:hover{
    box-shadow:0 0 20px 0px rgba(240, 245, 75, 0.41);
    transition: 0.4s;
    cursor: pointer;
}
.loner h1{
    margin-top: 100px;
}

.html{
    width: 90%;
    color: aquamarine;
}

.myskill{
    margin-top: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
}
.myskill p{
    font-size: 20px;
}

.container {
    
    width: 60%;
    background-color: #ddd;
  }

  .skills {
    text-align: right;
    padding-top: 10px;
    padding-bottom: 10px;
    color: white;
  }

  .html {
    width: 90%; background-color: #04AA6D;
}


.css {width: 80%; background-color: #2196F3;}
.js {width: 65%; background-color: #f44336;}
.react {width: 60%; background-color: #808080;}

.contact{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 40px;

}
.contact h1{
    color: #ddd;
}

.form{
    color: #ddd;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
.form input{
    padding: 9px;
    width: 400px;
    color: black;
    background-color: #ddd;
    border: none;
    margin-top: 8px;
}
.form textarea{
    height: 200px;
    margin-top: 8px;

}